
.formImg{
    width: 800px;
    display: flex;
    margin-left: 550px;
    margin-top: 25px;
    border-radius: 25px;
    padding: 30px;
}

.h4h5{
    text-align: center;
    .textH4{
        font-weight: 300;
    }
    .textH5{
        font-weight: 300;
    }
}

.formA{
    display: flex;
    flex-direction: column;
    

}