
.formImg{
    width: 800px;
    display: flex;
    margin-left: 550px;
    border-radius: 45px;
    padding: 30px;
    
}

.h4h5{
    text-align: center;
    .textH4{
        font-weight: 300;
    }
    .textH5{
        font-weight: 300;
    }
}

.formA{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 700px;
  
}  .label{
    padding: 10px;
}
.input{
    padding: 5px;
}.btnForm{
    margin: 25px;
    width: 150px;
    margin-left: 195px;
    border: none;
    background-color: rgb(146, 145, 196);
    border-radius: 20px;
    padding: 5px;
    font-size: 18px;
}
