.logo {
  width: 100px;
}

.fotter {
  display: flex;
  justify-content: space-around;
  background-color: rgba(240, 240, 240, 0.144);
}
.imgFotter {
  margin: 20px;
  width: 35px;
  margin-top: 30px;
  color: black;
}
.flexP{
    text-align: center;
    background-color: #c4a4dd;
    margin-bottom: 0px;
}
